.btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border: none;
  transition: all 0.4s ease;
}
.primary {
  color: var(--white);
  background-color: var(--primary);
}
.ghost {
  color: var(--black);
  background-color: none;
  border: 1px var(--gray-light) solid;
}
.primary:hover {
  background-color: var(--primary-hover);
}
.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}
.icn {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.down {
  transform: rotate(90deg);
}
